@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../styles/Loading/loading";
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  background-color: #f8f8f8; 
  color: #333;
  
  &.dark {
    background-color: #1a202c; 
    color: #f8f8f8; 
  }
}

footer {
  text-align: center;
  padding: 1rem;
}

.quill-height .ql-container {
  min-height: 100px; // Ajusta a altura mínima para caber 3 linhas de texto
}

.dark {
  .ql-toolbar {
    background-color: #6b7280;
  }
}

.font-cookie {
  font-family: 'Cookie', cursive;
}



